<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование профиля</title>
    <link rel="stylesheet" type="text/css" th:href="@{/new/edit_css.css}">
</head>
<body>
<div class="wrapper">
    <form th:method="POST" th:action="@{/profile/{id}(id=${people.getId()})}" enctype="multipart/form-data" th:object="${people}">
        <h2>Редактирование</h2>
        <div class="input-field">
            <input type="text"  th:field="*{name}" th:classappend="${#fields.hasErrors('name')} ? 'field-error' : ''" required>
            <label >Укажите имя</label>
        </div>

        <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</div>

        <div class="input-field">
            <input type="text" th:field="*{surname}" th:classappend="${#fields.hasErrors('surname')} ? 'field-error' : ''" required>
            <label >Укажите фамилию</label>
        </div>

        <div class="error" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Error</div>

        <div class="input-field">
            <input type="text"  th:field="*{description}" required>
            <label >Добавьте описание</label>
        </div>

        <div style="margin-top: 35px;" class="input-field">
            <input type="file" name="imageFile" id="imageFile" accept="image/*">
            <label style="padding-bottom: 10px;" for="imageFile">Выберите картинку для профиля</label>
        </div>
        <div style="margin-top: 35px;" >
            <input type="file" name="multipartFiles" multiple id="file" accept="file/*">
            <label style="padding-bottom: 10px;" for="file">Выберите файл проекта для профиля</label>
        </div>
        <div style="margin-top: 35px;" >
            <input type="file" name="multipartFiles" multiple id="file1" accept="file/*">
            <label style="padding-bottom: 10px;" for="file">Выберите файл проекта для профиля</label>
        </div>


        <div class="input-field">
            <input type="text"  th:field="*{phone}" th:classappend="${#fields.hasErrors('phone')} ? 'field-error' : ''" required>
            <label >Введите телефон</label>
        </div>

        <div class="error" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Error</div>


        <button type="submit">Обновить</button>

        <div class="error" th:if="${errorMessage}">
            <p th:text="${errorMessage}"></p>
        </div>
    </form>
    <form th:action="@{/logout}" th:method="POST">
        <input type="hidden" th:name="_csrf.parameterName" th:value="${_csrf.token}">
        <button style="margin-top: 7px" type="submit">Выйти</button>
    </form>
    <form th:action="@{/profile/delete/{id}(id=${people.getId()})}" th:method="POST">
        <input type="hidden" th:name="_csrf.parameterName" th:value="${_csrf.token}">
        <button style="margin-top: 7px" type="submit">Удалить аккаунт</button>
    </form>
</div>
</body>
</html>