<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Редактирование роли</title>
    <link rel="stylesheet" type="text/css" th:href="@{/new/userEdit_css.css}">
</head>
<body>
<div class="wrapper">
    <h2>Выберите роль</h2>
    <form th:action="@{/admin/user/edit}" th:method="POST">
        <div th:each="role : ${roles}">
            <input type="checkbox" th:name="${'roles'}" th:value="${role.name()}" th:checked="${user.roles.contains(role) ? 'checked' : ''}">
            <label th:text="${role}"></label>
        </div>
        <input type="hidden" th:name="userId" th:value="${user.id}">
        <input type="hidden" th:name="_csrf.parameterName" th:value="${_csrf.token}">
        <button type="submit" class="edit-button">Сохранить</button>

    </form>
</div>

</body>
</html>